.topDiv{
   height: 15%;
}
h1 {
    text-align: center;
    color: rgb(46,116,181);
    margin: 50px;
    padding-top: 100px;
}

.centerDiv {
    width: 100%;
}

.leftDiv {
    border-style: solid;
    border-color: rgb(46,116,181);
    border-right-width: 8px;
    border-bottom: hidden;
    border-top: hidden;
    border-left: hidden;
    float: left;
    width: auto;
    margin: 10px;
    padding-left: 50px;
}

img {
   
}

.rightDiv {
    padding: 10px;
    width: auto;
    text-align: right;
   
}